<!DOCTYPE html>
<html>
<head>
  <title>FunWithGeocoder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0nJjOzppCc0ux_-VEqvO3oc2jJKYJ9Q4&callback=initMap" async defer></script>
</head>
<body>
	<div class="container">
		<%= yield %>
	</div>
</body>
</html>
